* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
  --main-bg-color: #1B1A1A; /*Gray18*/
  /* #414a4c: Outer Space */
  --main-title-big: #B0E2FF; /* Lightskyblue1 */
  --main-title-small: #87CEFA; /* Lightskyblue */
  --main-section-backdrop: #2E2E2E; /*Gray18*/
}

/*---------- Fonts ----------*/

@font-face {
  font-family: Bitter;
  src: url("/fonts/Bitter/Bitter-Regular.ttf");
}
@font-face {
  font-family: Bitter-Italic;
  src: url("/fonts/Bitter/Bitter-Italic.ttf");
}

@font-face {
  font-family: Dosis;
  src: url("/fonts/Dosis/static/Dosis-SemiBold.ttf");
}

@font-face {
  font-family: OpenSans;
  src: url("/fonts/Open_Sans/OpenSans-Regular.ttf");
}

@font-face {
  font-family: Roboto;
  src: url("/fonts/Roboto/Roboto-Regular.ttf");
}

@font-face {
  font-family: Roboto-boldo;
  src: url("/fonts/Roboto/Roboto-Bold.ttf");
}

@font-face {
  font-family: Poly;
  src: url("/fonts/Poly/Poly-Regular.ttf");
}

h1 > big{
  font-family: Dosis;
}

h1 > small {
  font-family: OpenSans;
}

i, small{
  font-family: Poly;
}

h2, .main-nav a {
  font-family: Bitter;
}

p, .blogindex td, li {
  font-family: Roboto;
}

a {
  font-family: Bitter-Italic;
}

b {
  font-family: Roboto-boldo;
}

/*---------- General body ----------*/

body {
    background-color: var(--main-bg-color);
}

/*---------- General header ----------*/

header {
    position: fixed;
    background-color: #2f4f4f;  /*DarkSlateGrey*/
    width: 100%;
    padding-left: 10em;
    padding-right: 10em;
}

.main-nav {
    display: block;
    width: 100%;

}

.main-nav a {
    color: #F0FFFF; /* Azure */
    text-decoration: none;
    text-align: center;
}

#toggle {
  display: none;
}

/* Mobile */
@media only screen and (max-width: 1080px){
  header {
      background-color: inherit;
      padding-right: 0em;
  }

  .main-nav {
        text-align: right;
        height: 40px;
        line-height: 40px;
        position: relative;
  }

  .menu-list {
      text-align: center;
      width: 70%;
      display: none;
      position: absolute;
      top: 50px;
      right: 20px;
  }

  .main-nav label {
      margin: 20px 20px 0 0;
      font-size: 30px;
      line-height: 30px;
      display: block;
      width: 26px;
      cursor: pointer;
      color: var(--main-title-small);
      border-radius: 5px;
      background-color: var(--main-section-backdrop);
      float: right;
  }

  .menu-list li {
      clear:right;
      display: block;
      border: 1px solid #EAEAEB;
      margin: 0px;
      height: 40px;
      background-color: var(--main-bg-color);
  }

  #toggle:checked + .menu-list {
      display: block;
  }
}

/* Tablet/Desktop */
@media only screen and (min-width: 1081px) {
  .main-nav label {
      display: none;
      cursor: pointer
  }
  .drop-menu {
      display: none;
  }

  .menu-list {
      margin-top: 10px;
      margin-bottom: 10px;
      list-style-type: none;
      display: flex;
      justify-content: center;
  }

  .main-nav a {
      display: inline;
      padding-left: 5em;
  }

  .main-nav a:first-of-type {
      display: inline;
      padding-left: 0em;
  }
}

/*---------- General main ----------*/

main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-top: 80px;
    margin-left: auto;
    margin-right: auto;
    color: #f2f2f2; /* Previous: #ebdbb2 */
    padding-left: 3em;
    padding-right: 3em;
    max-width: 1100px;
    padding-bottom: 50px;
}

h2 {
    color: #EE9A00; /* Orange2 */
}

a {
    color:  #ffcc00; /* Sea green 4 #2E8B57*/
    text-decoration: none;
}

/*---------- Main title ----------*/

.main-title {
    text-align: center;
    padding-bottom: 20px;
}

.main-title > big {
    color: var(--main-title-big);
    font-size: 45px;
}

.main-title > small {
    color: var(--main-title-small);
    font-size: 20px;
}

@media only screen and (max-width: 1080px) {
    main {
      padding-top: 35px;
      padding-left: 0em;
      padding-right: 0em;
    }

    .main-title > small {
        color: var(--main-title-small);
        font-size: 15px;
    }
}

/*--------------------------------*/
/*---------- Index page ----------*/
/*--------------------------------*/

/*---------- Social media section ----------*/

.links{
    display: flex;
    justify-content: center;
    padding-bottom: 20px;
}

.links a {
    text-decoration: none;
    padding-left: 3px;
}

.links a:hover img {
    transform: scale(1.7, 1.7);
}

.professional, .software, .social{
    display: flex;
    align-items: center;
}

.software {
    padding-left: 1em;
    padding-right: 1em;
}

/* Small mobile version */
@media only screen and (max-width: 390px) {
    .links-wrapper {
        margin: auto;
    }

    .links {
        flex-direction: column;
        padding-bottom: 5px;
    }

    .software {
        padding-left: 0em;
        padding-right: 0em;
    }
}

/*---------- Main section ----------*/

.main-section {
    /*color: #ebdbb2;*/
    text-align: left;
    max-width: 950px;
    display: flex;
    flex-direction: row;
    padding-top: 1em;
    padding-bottom: 1em;
    justify-content: space-between;
    background-color: var(--main-section-backdrop);
    margin: 20px;
}

.main-section > .img-section {
    width: 45%;
    padding-left: 0.5em;
    padding-right: 0.5em;
}

.main-section > .text-section {
    width: 60%;
    padding-left: 0.5em;
    padding-right: 0.5em;
}

.main-section > .img-section img, .img-section img {
    width: 100%;
    margin: 0 auto;
}

.main-section > .text-section ul {
    list-style-type: none;
}

.main-section p {
    margin-bottom: 15px;
}

.main-section p:first-of-type {
    margin-top: 10px;
}

.main-section p:last-of-type {
    margin-bottom: 0px;
}

/* Mobile version */
@media only screen and (max-width: 920px) {
  .main-section {
      flex-direction: column;
      padding-bottom: 1em;
      padding-top: 0em;
      padding-bottom: 1em;
      background-color: var(--main-section-backdrop);
      margin: 20px;
  }

  #dickinson, #c2d {
    flex-direction: column-reverse;
  }

  .main-section > .img-section {
      width: 100%;
      padding-left: 0em;
      padding-right: 0em;
  }

  .main-section > .text-section {
      width: 100%;
      padding-left: 1em;
      padding-right: 1em;
  }

}

/*---------- Recent blog sections ----------*/

.recent-blogs {
    max-width: 950px;
    display: flex;
    flex-direction: column;
    background-color: var(--main-section-backdrop);
    margin: 20px;
    padding-top: 1em;
    padding-bottom: 1em;
    padding-left: 0.5em;
    padding-right: 0.5em;
}

.blogindex > .row {
    display: flex;
    flex-direction: row;
}

.blogindex > .row > .date {
    width:15%;
}

.blogindex > .row > .title {
    width:50%;
}

.blogindex > .row > .tags {
    width:35%;
}

/* Medium mobile version */
@media only screen and (max-width: 600px) {
    .blogindex > .row {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        width: 100%;
        padding-top: 0.5em;
        padding-bottom: 0.5em;
        border-bottom: 1px solid #EAEAEB;
    }

    .blogindex > .row:last-of-type {
        border-bottom: 0px;
    }

    .blogindex > .row > .date {
        width: 100%;
    }

    .blogindex > .row > .title {
        width: 100%;
    }

    .blogindex > .row > .tags {
        width: 100%;
    }
}
/*---------- Footer section ----------*/

footer {
    text-align: center;
    padding-bottom: 3em;
}

/*---------------------------------------*/
/*---------- blog.php specific ----------*/
/*---------------------------------------*/
.blog-links {
    padding-left: 1em;
}
.blog-section {
    padding-top: 20px;
    margin: 20px;
    padding-top: 1em;
    padding-bottom: 1em;
    padding-left: 0.5em;
    padding-right: 0.5em;
    background-color: var(--main-section-backdrop);
}

.blogindex td {
    padding: 5px;
}

/*------------------------------------------------*/
/*---------- blog-template.php specific ----------*/
/*------------------------------------------------*/

.post p {
    padding-bottom: 15px;
}

@media only screen and (max-width: 1080px) {
    .post {
      padding-left: 2em;
      padding-right: 2em;
    }
}

/*-----------------------------------------------*/
/*---------- rolling-post.php specific ----------*/
/*-----------------------------------------------*/

.rolling-post {
    border: solid;
    border-color: #EE3B3B;
    padding: 30px;
    margin-top: 20px;
    margin-bottom: 20px;
}

.rolling-post small {
    padding-bottom: 20px;
    display: block;
}

.rolling-post p {
    padding-bottom: 15px;
}

.rolling-post > .date {
    padding-bottom: 0px;
}

@media only screen and (max-width: 1080px) {
    .rolling-post {
        margin-left: 1em;
        margin-right: 1em;
    }
}

@media only screen and (min-width: 1081px) {

}


/*-------------------------------------------*/
/*---------- projects.php specific ----------*/
/*-------------------------------------------*/

.project-title-top{
    text-align: center;
    padding-bottom: 30px;
}

.project-title{
  text-align: center;
  /* padding-bottom: 5px; */
}

.project-title-top big {
    color: var(--main-title-big);
    font-size: 45px;
}

.project-title small {
    color: var(--main-title-small);
    font-size: 20px;
}

.project-post {
  display: flex;
  flex-direction: column;
  margin: 20px;
  padding-top: 1em;
  padding-bottom: 1em;
  background-color: var(--main-section-backdrop);
}

.top-section {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-bottom: 5px;
}

.top-section > .left-section, .right-section {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding-left: 0.5em;
  padding-right: 0.5em;
  width: 50%;
}

.project-post > .top-section > .right-section img {
  width: 100%;
}

.table-section-wrapper {
  padding-left: 0.5em;
  padding-right: 0.5em;
}

.table-section {
  display: flex;
  flex-direction: row;
  text-align: left;
  justify-content: space-around;
  width: 100%;
}

.project-info {
  font-size: 15px;
}

.subtitle {
    border-bottom: 1px solid #EAEAEB;
    padding-bottom: 5px;
}

/* Mobile version */
@media only screen and (max-width: 920px) {
  .top-section {
      flex-direction: column-reverse;
  }

  .project-post {
      padding-top: 0em;
      padding-bottom: 1em;
  }

  .top-section > .right-section {
    padding-left: 0em;
    padding-right: 0em;
    width: 100%;
  }

  .top-section > .left-section {
      width: 100%;
      padding-left: 0.5em;
      padding-right: 0.5em;
  }

  .table-section {
    display: flex;
    flex-direction: column;
  }

  .top-section {
      padding-bottom: 1em;
  }
}

/* Mobile */
@media only screen and (max-width: 1080px){

/* Tablet/Desktop */
@media only screen and (min-width: 1081px) {

}

/*--------------------------------------------*/
/*---------- contactme.php specific ----------*/
/*--------------------------------------------*/

.contact-area p{
  text-align: center;
  padding-top: 1em;
  padding-bottom: 2em;
  color: var(--main-title-big);
}

.contact-form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.contact-form > input[type=text], button, textarea {
  padding: 1em;
  width: 50%;
  border-radius: 4px;
  box-sizing: border-box;
  resize: vertical;
  margin-top: 6px;
  margin-bottom: 16px;
}

.contact-form textarea {
  width: 50%;
  height: 150px;
}

.contact-error {
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 1em;
  width: 50%;
  font-size: 20px;
  background-color: #ea1313;
}

.links-contactform{
    display: flex;
    justify-content: center;
    /* color: #ebdbb2; */
    /* padding-bottom: 20px; */
}

.links-contactform a {
    text-decoration: none;
    padding-left: 0.5em;
    padding-right: 0.5em;
    margin: 0em;
}

.links-contactform a:hover img {
    transform: scale(1.7, 1.7);
}

@media only screen and (max-width: 420px){
  .contact-form > input[type=text], button, textarea {
      width: 80%;
  }

  .contact-form textarea {
      width: 80%;
  }
}
